<appSettings>
  <!--<add key="SendGridAPIkey" value="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" />
  <add key="ContactEmail" value="binsina9@gmail.com" />-->

  <!--<add key="username" value="AKIAIS6W6KKFYOKJ4D6A"/>
  <add key="password" value="Ajm9Q3ZTnEBUUyAQs1nt8YM5UU3RpvW1Dinr+G6YVuYl"/>
  <add key="host" value="email-smtp.us-west-2.amazonaws.com"/>
  <add key="emailto" value="binsina9@gmail.com"/>
  <add key="port" value="587"/>-->


  <add key="ContactEmail" value="binsina9@gmail.com" />

  <add key="EmailHost" value="smtp.gmail.com" />
  <add key="EmailSender" value="binsina9@gmail.com" />
  <add key="EmailSenderPassword" value="whh8319246" />
</appSettings>
